{{#data.0.images.length}}
    <div class='parent_wrapper image-page'>
{{/data.0.images.length}}
{{^data.0.images.length}}
    <div class='parent_wrapper'>
{{/data.0.images.length}}

<h1>Repeat Image Detector</h1>
{{#percentOfWrongImages}}<h3>Duplicate Images : {{percentOfWrongImages}}%</h3>{{/percentOfWrongImages}}

    {{#data}}
    <section>
        <div class='building_name' >
            {{#images.length}}
                {{address}}
            {{/images.length}}
            {{^images.length}}
                <a target='_blank' href='/getBuildingData/{{id}}'>{{address}}</a>
            {{/images.length}}
            {{#slug}}<div>({{slug}})</div>{{/slug}}
        </div>
        <ul>
        {{#images}}
            <li>
                <span class='belongsToBuilding-{{belongsToBuilding}}'></span>
                <a target='_blank' href='{{url}}'>{{id}}</a>
                <button class='btn' data-clipboard-text='{{url}}'>Copy URL</button>
                <button class='btn' data-clipboard-text='{{id}}'>Copy UUID</button>
            </li>
        {{/images}}
        </ul>
    </section>
        
    {{/data}}
</div>
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script> new ClipboardJS('.btn');</script>

<style>
h1,h3{
    text-align: center;
}
.parent_wrapper section{
    width: 10%;
    float: left;
    min-width: 340px;
    min-height: 55px;
}
a{
    margin-right: 5px;
}
ul{
    list-style:none;
    padding:0px;
    margin: 0px;
}
li{
    margin-bottom:5px;
    height:25px;
    display: flex;
    flex-direction: row;
}
 li:hover .btn{
    display: block;
 }
span {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
}
.belongsToBuilding-true{
    background:green;
}
.belongsToBuilding-false{
    background:red;
}
.btn {
     display:none;
    position: relative;
    padding: 2px 4px;
    font-size: 11px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

.parent_wrapper.image-page section {
    width: 100%;
}

.parent_wrapper.image-page section .building_name {
    margin: 20px 0;
    display: block;
    font-weight: 700;
    color: black;
}
</style>
